CorteDeCaja/Caja/.vs/Caja/DesignTimeBuild/.dtbcache
Caja/ModuloCaja/bin/log4net.xml
Caja/ModuloCaja/bin/SigaMetClasses.xml
Caja/ModuloCaja/ModuloCaja.vbproj.rej
Caja/ModuloCaja/.vs/ModuloCaja/DesignTimeBuild/.dtbcache
Caja/Filiales/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Caja/Filiales/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Caja/Filiales/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Caja/FULLSoporte/ActualizacionCobranza/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Caja/FULLSoporte/ActualizacionCobranza/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Caja/FULLSoporte/ActualizacionCobranza/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Caja/ControlDeValesPromocionales/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Caja/ControlDeValesPromocionales/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Caja/ControlDeValesPromocionales/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Caja/ModuloCaja/bin/LiquidacionPortatil.xml
