CorteDeCaja/Caja/bin/Debug/Caja.vshost.exe.manifest
CorteDeCaja/Caja/bin/Debug/Caja.vshost.exe.config
CorteDeCaja/Caja/bin/Debug/Caja.vshost.exe
CorteDeCaja/Caja/.vs/Caja/v14/.suo
Caja/ModuloCaja/obj/Debug/ModuloCaja.vbprojResolveAssemblyReference.cache
Caja/ModuloCaja/bin/ModuloCaja.vshost.exe.manifest
Caja/ModuloCaja/bin/ModuloCaja.vshost.exe.config
Caja/ModuloCaja/bin/ModuloCaja.vshost.exe
Caja/ModuloCaja/.vs/ModuloCaja/v14/.suo
Caja/FULLSoporte/ActualizacionCobranza/obj/Debug/ActualizacionCobranza.csprojResolveAssemblyReference.cache
