CorteDeCaja/Caja/.vs/Caja/DesignTimeBuild/.dtbcache
Caja/ModuloCaja/bin/log4net.xml
Caja/ModuloCaja/bin/SigaMetClasses.xml
Caja/ModuloCaja/ModuloCaja.vbproj.rej
Caja/ModuloCaja/.vs/ModuloCaja/DesignTimeBuild/.dtbcache
Caja/Filiales/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Caja/Filiales/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Caja/Filiales/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Caja/FULLSoporte/ActualizacionCobranza/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Caja/FULLSoporte/ActualizacionCobranza/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Caja/FULLSoporte/ActualizacionCobranza/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Caja/ControlDeValesPromocionales/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Caja/ControlDeValesPromocionales/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Caja/ControlDeValesPromocionales/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FormasPago/FormasPago/FormasPago/frmRemisiones1.Designer.vb
Código CorteDeCaja.rar
CorteDeCaja/Caja/CorteCaja.rar
Caja/ModuloCaja/packages/log4net.2.0.8/log4net.2.0.8.nupkg
Caja/ModuloCaja/packages/log4net.2.0.8/lib/net45-full/log4net.xml
Caja/ModuloCaja/packages/log4net.2.0.8/lib/net40-full/log4net.xml
Caja/ModuloCaja/packages/log4net.2.0.8/lib/net40-client/log4net.xml
Caja/ModuloCaja/packages/log4net.2.0.8/lib/net35-full/log4net.xml
Caja/ModuloCaja/packages/log4net.2.0.8/lib/net35-client/log4net.xml
Caja/ModuloCaja/packages/log4net.2.0.8/lib/net20-full/log4net.xml
Caja/ModuloCaja/packages/CrystalDecisions.Windows.Forms.1.0.0/CrystalDecisions.Windows.Forms.1.0.0.nupkg
Caja/ModuloCaja/packages/CrystalDecisions.Shared.1.0.0/CrystalDecisions.Shared.1.0.0.nupkg
Caja/ModuloCaja/packages/CrystalDecisions.ReportSource.1.0.0/CrystalDecisions.ReportSource.1.0.0.nupkg
Caja/ModuloCaja/packages/CrystalDecisions.CrystalReports.Engine.1.0.0/CrystalDecisions.CrystalReports.Engine.1.0.0.nupkg
Caja/ModuloCaja/packages.config
Caja/ModuloCaja/obj/Debug/ModuloCaja.frmMuestraValesPorProveedor.resources
Caja/ModuloCaja/frmCapCobranza.vb.orig
Caja/ModuloCaja/Updater/_Default.Seguridad y Administracion.exe.config
Caja/ModuloCaja/Updater/Update.config
Caja/ModuloCaja/Updater/SIGAMETUpdater.xml
Caja/ModuloCaja/Updater/SIGAMETUpdater.vshost.exe.manifest
Caja/ModuloCaja/Updater/SIGAMETUpdater.vshost.exe.config
Caja/ModuloCaja/Updater/SIGAMETUpdater.ico
Caja/ModuloCaja/Updater/SIGAMETUpdater.exe.config
Caja/ModuloCaja/ModuloCaja.vbproj.orig
Caja/ModuloCaja/CAJA.rar
.gitattributes
Caja/ModuloCaja/bin/RTGMGateway.dll.config
Caja/ModuloCaja/bin/FormasPago.xml
Caja/ModuloCaja/bin/LiquidacionPortatil.xml
Caja/ModuloCaja/bin/nunit.framework.xml
